.footer {
    background-color: #6278f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    font-family: "Monsterrat", sans-serif;
}

.redes {
    padding: 2px 15px;
    font-size: 2rem;
}
.logoRedes {
    color: #fff;
}
.logo{
    color: #fff;
}
.footer p{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
}
@media screen and (max-width: 500px) {
    .footer{
        flex-direction: column;
        padding: 5px;
    }
    .redes {
        padding: 10px 5px;
    }
    
}
    
